/* Reset. */
* {
    box-sizing: border-box;
}

body {
  height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
  border-width: 2.3px;
  font-size: 2rem;
}

.top .btn-outline-primary:hover {
    color: rgb(255, 241, 78);
    background-color: white;
    border-color: white;
}
.bottom .btn-outline-primary:hover {
    color: white;
    background-color: rgb(255, 241, 78);;
    border-color: rgb(255, 241, 78);;
}

a#home{
  background-color: white;
border-radius: 35px;
width: 50px;
box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
text-align: center;
height: 48px;
z-index: 20;
position: fixed;
bottom: 10px;
right: 40px;
}
a#home img{
  width: 40px;

}
/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.bottom div h1, .bottom h4, .bottom .btn-outline-primary {
    color: #fff14e;
    border-color: #fff14e;
    }
.bottm
    .bottom .description {
        right: 5%;
    }

.top {
    background-color: rgb(255, 241, 78);
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}
.top div h1,.top h4, .top  .btn-outline-primary {
    color: white;
    border-color: white;
    }

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 2px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}


#pagepiling h1{
  font-size: 7rem;
}



/* TIMELINE */
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.text-gray {
    color: #999;
}

/*  */


#about {
    background-color: #fff14e;
}


#about > div > div > div > div.col-lg-5.mx-auto{
  color: white;
}

/* skill */

#skill{
  background-color: #fff14e;
  height: 100%;
}

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
/* END  SKILL */


/* Works */
#work{
  height: 100%;
  width: 100%;
  background-color: white;
}
/*  */


/* Contact */

#contact{
  height: 100%;
  background-color: #fff14e;
}
#contact .email{
  padding-top: 60px;
  margin: 0 auto;
text-align: center;
width: 400px;
height: 300px;
border-radius: 5px;
background-color: white;
}

.email input{
  width: 300px;
  margin: 0 auto;
}

.email .btn{
  border-width: 1.5px;
    font-size: 1.7rem;
    margin-top: 20px;
    color: white;
    background-color: rgb(255, 241, 78);
    border-color: rgb(255, 241, 78);
}
.email .btn:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.20);
}


/*  */
